<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-02-04T23:37:13Z</date>
	<key>WorkspacePath</key>
	<string>../../Meridian.xcodeproj</string>
</dict>
</plist>
